@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

* , ::after , ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     
   
}
.title{
    font-family: Poppins-Medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.bg-image{
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    position:relative;
}


.loginform{
    display: flex;
    width: 400px;
    height: 500px;
    background-image: linear-gradient(to bottom,#7f6ef4, #a03fe7);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    position:absolute;
    padding: 10px;
    
}

.logopic{
    border-radius: 50%;
    width: 90px;
    height: 88px;
}

.userinput{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
   }
.btn{
    width: 80px;
    height: 40px;
    color: black;
    background-color: rgb(250, 251, 252);
    border: none;
    border-radius: 20px;
}

.username{
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
    background-color:transparent;
    color: aliceblue;
    width: 250px;
    height: 40px;
    

}
.password{
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
    background-color:transparent;
    color: aliceblue;
    width: 250px;
    height: 40px;
}

    .remember{
        display: flex;
        color: #fff;
    }

    .forgot{
        color: #E5E5E5;
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    input:hover{
        border-bottom: 2px solid white;
    }

    input:focus{
        outline:none;
        }



    ::placeholder { 
        color:    rgb(251, 251, 251);
     }
      


    /* .username::-moz-placeholder  { 
        font-family: FontAwesome;
        font-weight: normal;
        overflow: visible;
        vertical-align: top;
        display: inline-block !important;
        padding-left: 5px;
        padding-top: 2px;
        color: hsl(15, 33%, 98%);
        }


    .password:-ms-input-placeholder  { 
        font-family: FontAwesome;
        font-weight: normal;
        overflow: visible;
        vertical-align: top;
        display: inline-block !important;
        padding-left: 5px;
        padding-top: 2px;
        color: hsl(9, 40%, 60%);
        }     */